.Cell {
    border: 1px solid black;
    display:table-cell;
    min-height: 1em;
    min-width: 1em;
    text-align: center;
    padding: 15px;
  }

.Arr {
    position: absolute;
    top: 20%;
    left: 2.5%;
    margin: 0 auto;
}

.Form {
    position:fixed;
    top: 12.5%;
}

.Label {
    display: inline-flex;
    top: 12.5%;
    margin-left: .5em;
    margin-right: .25em;
}

.sizeInput {
    margin: 0 3px;
}

.Button {
    margin: 0 .5em;
}