.ArrayPage {
    min-height: 100%;
}

.array {
    display: flex;
    margin: 30px;
}

.Form {
    position:fixed;
    top: 12.5%;
}

.Label {
    display: inline-flex;
    top: 12.5%;
    margin-left: .5em;
    margin-right: .25em;
}

.sizeInput {
    margin: 0 3px;
}

.Button {
    margin: 0 .5em;
}