.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dsIMG {
  width: 300px;
  height: 225px;
  margin: 10px auto;
  padding:0px;
  box-shadow: 0 7.5px 7.5px 2.5px rgb(9, 9, 9);
  border-radius: 7.5px;
  
}

.dsIMG:hover { 
  width: 300px;
  height: 225px;
  margin: 10px auto;
  box-shadow: 0px 10px 15px 5px rgb(9, 9, 9);
  border-radius: 7.5px;
  transition: 0.3s;
}

.IMGcap {
  color: rgb(0, 0, 0);
  font-size: calc(10px + 2vmin);
}
