.Homepage {
  position: absolute;
  top: 15%;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.Homepage h1 {
  font-size: calc(20px + 2vmin);
  margin: 50px;
  font-weight: normal;
}

.Homepage table {
  border-collapse: separate;
  border-spacing: 100px 15px;
  table-layout: fixed;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.Homepage tr {
  height: 7.5em;
}

.Homepage td {
  border: 1px solid rgb(75, 75, 75);
  max-width: 25%;
  background-color: rgb(75, 75, 75);
}

.Homepage .dsIMG {
  width: 200px;
  height: 150px;
  margin:5px;
  padding:0px;
  
}

.Homepage .IMGcap {
  margin-top: 5px;
  color: rgb(255, 255, 255);
  font-size: calc(4px + 2vmin);
}