
.Navbar {
  margin: 0;
  padding: 0;
  font-size: calc(5px + 2vmin);
  text-align: center;
  background-color:rgb(75, 75, 75);
  width: 100%;
}

.Navbar ul {
  padding-left:0;
  padding-top:.5em;
  padding-bottom:.5em;
  margin-top:0;
  margin-bottom:0;
} 
  
.Navbar a {
  padding: 10px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.label {
  height: 50px;
  font-size: 3vh;
  display: inline-block;
  margin: 5 5;
}
