.Navbar {
  background-color: #455073;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
}


.logo {
  display: flex;
}

.logo > p {
  padding: 15px 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Encode Sans', sans-serif;
  border: 1px solid transparent;
  border-radius: 7.5px;
  margin: 10px 10px;
  transition:0.25s;
}
